/* Estilos generales */
.registerContainer {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/exposicionCoches.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
    overflow: auto;
    background-attachment: fixed;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 80px;
    position: relative;
    color: black;
}

.register {
    width: 100%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para los campos del formulario */
.inputField {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Mensaje de error */
.error {
    color: red;
    font-size: 12px;
    margin: 5px 0;
}

/* Mensaje de advertencia (warning) */
.warning {
    color: red;
    font-size: 12px;
    margin: 5px 0;
}

/* Botones de Submit y Reset */
.submitButton, .resetButton {
    background-color: #417780;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.submitButton:hover, .resetButton:hover {
    background-color: #30585e;
}
