/* page.module.css */

.body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('/exposicionCoches.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  flex: 1;
  width: 100%;
  color: black;
}

.content {
  width: 100%;
  max-width: 800px; /* Aumentar el max-width */
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.formGroup {
  width: 100%;
  margin-bottom: 20px;
}
.form{
  width:100%;
}

.label {
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
  display: block;
}

.input, .textarea, .select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  background-color: black;
  box-sizing: border-box; /* Esto asegura que el padding no sobrepase el ancho total */
}

.textarea {
  resize: vertical;
  min-height: 120px;
}

.select {
  font-size: 14px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.submitBtn {
  background-color: #417780;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  text-align: center;
}

.submitBtn:hover {
  background-color: #30585e;
}
